.mini_logo{
    background-image: url("../../static/img/logo/logo-mini50.png");
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}