#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    width: 100vw;
    height: 55px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,52,65,1) 35%, rgb(21, 152, 179) 100%);
}

#menu{
    display: flex;
    flex-direction: row;
    padding: 0px;   
    margin: 0px;
}

.barra_vertical{
    border-left: 1px solid white;
    width: 1px;
    height: 45px;
    margin: 0px 20px;
}


.coluna_menu_submenu{
    flex-direction: column;
}

.menu_item{
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 55px;
    transition: 0.7s;
}

.menu_item:focus{
    background-color: red;
}

.menu_item:hover{
    background-color: white;
    color: rgba(25,52,65,1);
    transition: 0.7s;
}

.submenu{
    padding: 0px;
    display: none;
    flex-direction: column;
    position: absolute;
}

.submenu_item{
    list-style: none;
    min-width: 100px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: rgba(2,0,36,1);
    transition: 0.7s;
}

.submenu_item:hover{
    background-color: white;
    color: rgba(25,52,65,1);
    transition: 0.7s;
}

.space_between{
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: inherit;
}

.link{
    text-decoration: none;
}

#logout{
    width: 100px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    float: right;
    height: 55px;
    transition: 0.7s;
}

#logout:hover{
    background-color: white;
    color: rgb(21, 152, 179);
    transition: 0.7s;
}
