#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    width: 100vw;
    height: 55px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,52,65,1) 35%, rgb(21, 152, 179) 100%);
}

#menu{
    display: flex;
    flex-direction: row;
}

#menu li{
    list-style: none;
    color: white;
    margin: 0px 15px;
    font-size: 18px;
}
